html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Add your styles below! */ 

/* temporary styles for scripting purposes! */ 
.song-div {
  float: left;
  margin: 0 10px; 
}

.song-input, #now-playing-img {
  width: 128px;
  height: 128px;
  border: 1px solid black;
}

#playback-screen {
  display: none;
}